body {
  font-family:"Avenir Next"

}

.header {
  background-color: red;
  height:90px;
}

.main {
  background-color: white;
  height:600px;
  background-image: url(wolf.png);
}

h1{
  font-size: 24px;
}
.footer{
  height:250px;
  background-color: black;
}
