body {
  font-family:"Avenir Next"
}

.header-logo{
  background-color: red;
  height:90px;
  width: 1200px;
  float:left;
  padding:20px 0px;
}

.main {
  background-color: white;
  height:600px;
}

h1{
  font-size: 48px;
}
p {
  font-size: 24px;
  padding-bottom: : 25px;
}
ul {
list-style: none;
}

.index li {
  float: left;
  padding:20px 50px;
}

.header-addition {
  float: left;
}

.index {
  float: left;
}

.footer{
  height:250px;
  background-color: black;
}
